@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-background-start: var(--background-start);
  --color-background-mid: var(--background-mid);
  --color-background-end: var(--background-end);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-card: var(--card);

  --font-primary: var(--font-primary);
}

:root {
  --background-start: #1a1b2f;
  --background-mid: #20243e;
  --background-end: #0b0d1b;
  --foreground: #ffffff;
  --muted: #9ca3af;
  --accent: #818cf8;
  --card: #1a1a2e;

  --font-primary: "Outfit", sans-serif;
}

body {
  @apply h-screen min-w-80 font-primary text-foreground font-semibold bg-transparent;
}

body::before {
  @apply content-[''] fixed w-screen h-screen top-0 left-0
         bg-linear-[135deg] from-background-start via-background-mid to-background-end;
}

#root {
  @apply w-full h-fit min-h-full justify-start;
}

body,
#root {
  @apply flex items-center justify-start flex-col;
}
